body {
    font-family: 'Arial';
    background: yellow;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: Arial;
}

.app {
    background: #209cee;
    padding: 20px;
    height: 100vh;
    border: solid;
}

.todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    font-family: 'comic neue';
    font-style: italic;
    box-shadow: 5px 5px;
}

.todo {
    background: fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px, 10px;
    font-size: 24px;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todos {
    background: #e8e8e8;
    border-radius: 4px;
    padding: 5px;
    max-width: 400px;
}

h1 {
    text-align: center;
    font-family: lobster;
    height: 30px;
    text-shadow: 2px 2px 1px #209cee;
}
.input{
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    box-shadow: 2px 2px #209cee;
    padding: 1rem;
    height: 2.25em;
    font-family: 'comic neue';
    font-size: 24px;
    font-style: italic;
}